<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <script src="{% static 'js/tableScripts.js' %}"></script>
        <script src="{% static 'js/headerScripts.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <title>Расписание</title>
    </head>

    <body>
        {% include "client/header.html" %}

        {% if request.method == "GET" %}
            {% include "client/welcome.html" %}
        {% elif request.method == "POST" %}
            {% if data|length == 0 %}
                {% include "client/emptyTable.html" %}
            {% else %}
                {% include "client/table.html" %}    
                
                {% include "client/footer.html" %}
            {% endif %}
        {% endif %}
    </body>
</html>