{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div>
        <div>
            <form method="POST" enctype="multipart/form-data" action="import_teacher_reference/">
                {% csrf_token %}
                
                <input type="file" name="teacher_reference_file" required>  

                <button type="submit">Импортировать преподавателей из файла</button>
            </form>
        </div>
        <div>
            <form method="POST" enctype="multipart/form-data" action="import_student_reference/">
                {% csrf_token %}
                
                <input type="file" name="student_reference_file" required>  

                <button type="submit">Импортировать студентов из файла</button>
            </form>
        </div>
    </div>
    <br />
    {{ block.super }}
{% endblock %}